main {
    margin: 30px;
}

.row {
    margin-bottom: 30px;
}

.card-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
    margin: 0 auto;
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.dialog-tournament-form {
    display: flex;
    justify-content: end;
    align-content: end;
}

.card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-footer button {
    width: 100px;
    height: 35px;
}