<main>
    <section class="tournament-info">
        <dl>
            @if (tournament) {
                <dt>Name:</dt>
                <dd>{{ tournament.name }}</dd>
    
                <dt>Start Date:</dt>
                <dd>{{ tournament.startDate }}</dd>
    
                <dt>Finish Date:</dt>
                <dd>{{ tournament.finishDate }}</dd>
    
                <dt>Sport:</dt>
                <dd>{{ tournament.sport?.name }}</dd>
            }
        </dl>
        <div class="dialog-tournament-form">
            <button class="btn btn-warning" (click)="openDialogUpdateTournament()">Editar</button>
        </div>
    </section>

    <section class="team-tor">
        <div class="dialog-team-form">
            <button type="button" class="btn btn-primary">Agregar</button>
        </div>

        <div class="table-responsive">
            <table class="table table-striped ">
            <thead class="">
                <th [width]="'10%'">N.</th>
                <th>Nombre</th>
            </thead>
            <tbody>
                @for (enrolment of enrolments; track enrolment) {
                    <tr>{{ $index }}</tr>
                    <tr>{{ enrolment.team?.name }}</tr>
                }
            </tbody>
        </table>
        </div>

        
    </section>



</main>